---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="About Us"
	pubDate={new Date('October 6, 2024')}
	heroImage="/koshlands_banned_logo.svg"
>
	<p>
Koshland's Banned! serves as a provocative platform dedicated to examining the controversial content that has been prohibited within the micronation of Koshland. This website aims to uncover the underlying reasons behind various bans, providing insight into the societal norms and values that shape Koshland's cultural landscape. Through a critical lens, it analyzes the implications of these bans, fostering discussions about freedom of expression, censorship, and the boundaries of acceptable content.

At the heart of Koshland's Banned! lies the belief that understanding the rationale behind bans can lead to a more informed citizenry. By delving into the specifics of each banned item—be it a movie, video game, or YouTube channel—the site encourages visitors to reflect on the broader consequences of censorship. It challenges readers to consider how these decisions affect not only individual freedoms but also the collective identity of Koshland and its people.

Furthermore, Koshland's Banned! seeks to create a dialogue around the themes of morality and accountability in media consumption. By providing a comprehensive overview of the banned materials, the site invites discussions about the responsibilities of content creators and consumers alike. Ultimately, it strives to promote critical thinking and an open exchange of ideas, making it a vital resource for anyone interested in the intersection of culture, governance, and the media landscape within Koshland.	
</p>
</Layout>
