---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Koshland's Banned!</h1>
			<p>
				Welcome to the official <strong>Koshland's Banned</strong> Website!
                
               This website is officially funded by the Koshland government. 
             We do not support any of the stuff mentioned in the Articles on this website and we are openly trying to prevent them from happening.
			</p>
			<p>
				This website was made with <a href="https://astro.build">Astro</a> with the blog template.
			</p>
			<p>This website is meant to show what is banned in Koshland.</p>
			<p>This website has articles about different banned stuff in Koshland, such as:</p>
			<ul>
				<li>Movies/TV Shows</li>
				<li>Youtube Channels</li>
				<li>Certain words</li>
				<li>Certain trends</li>
				<li>Videos or Games</li>
			</ul>
			<p>
				Have fun!
			</p>
			
		</main>
		<Footer />
	</body>
</html>
